
google-generativeai==0.8.4
Pillow==10.4.0
python-dotenv==1.0.1
pydantic==2.10.6
python-multipart==0.0.20
google-api-core==2.24.1
flask==3.0.2
flask-Cors==4.0.1
tqdm==4.66.2
requests==2.31.0
xmltodict==0.13.0
